.quantity {
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #000000;
    font-family: Montserrat;
    font: caption;
    text-transform: capitalize;
    outline: none;
    border: none;
    cursor: pointer;
}

.quantity>p {
    opacity: 0.2;
}

#length>div {
    width: 10%;
    height: 40%;
    background: transparent url('../images/length-icon.svg') 0% 0% no-repeat padding-box;
}

#length:hover,
.length-active {
    color: #0EC098;
    font-weight: 600;
    background: #EDFDF9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0EC098;
    border-radius: 7px;
}

#length:hover div,
.length-active div {
    background: transparent url('../images/length-hover-icon.svg') 0% 0% no-repeat padding-box !important;
}

#length:hover p,
.length-active p {
    opacity: 1;
}