$blue: #446dff;
$latoFont: Lato;
$white: #ffffff;
$homeBackground: #f5f6fa;
$quantiyNameColor: #c9c9c9;
$lengthColor: #0ec098;
$temperatureColor: #fd5160;
$volumeColor: #7224ff;
$quantityBoxSadow: 0px 3px 6px #00000029;

length-image-size {
  width: 12px;
  height: 50px;
}

temperature-image-size {
  width: 30px;
  height: 58px;
}

volume-image-size {
  width: 50px;
  height: 50px;
}

html,
body,
#root,
.App {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: $latoFont;
  text-align: center;
  background-color: $homeBackground;
}

header {
  height: 15%;

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    font-family: $latoFont;
  }

  article {
    height: 60%;
    background-color: $blue;
    color: white;
    font-family: $latoFont;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    cursor: default;
  }

  #header-quanment {
    font-weight: 600;
    font-size: 2vw;
    cursor: default;
  }

  #header-history {
    font-size: 1vw;
    cursor: default;
  }
}

.home {
  padding-top: 5vh;
  width: 60%;
  height: 80%;
  display: flex;
  background-color: $homeBackground;
  flex-direction: column;
  align-items: center;
  display: inline-block;
  #home-text {
    text-align: left;
    font-weight: 600;
    width: 100%;
    margin-bottom: 5px;
    cursor: default;
  }

  #quantity {
    display: flex;
    justify-content: space-between;
    height: 20%;
  }

  #Length,
  #Temperature,
  #Volume,
  #Length-active,
  #Temperature-active,
  #Volume-active {
    width: 25%;
    height: 150%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 7px;
  }

  #Length #quantity-image {
    @extend length-image-size;
    background: transparent url("../assets/length-icon.svg") 0% 0% no-repeat
      padding-box;
  }

  #Temperature #quantity-image {
    @extend temperature-image-size;
    background: transparent url("../assets/temperature-icon.svg");
  }

  #Volume #quantity-image {
    @extend volume-image-size;
    background: transparent url("../assets/volume-icon.svg") 0% 0% no-repeat
      padding-box;
  }

  #quantity-name {
    font-size: 1.2vw;
    width: 100%;
    margin-top: 5px;
    color: $quantiyNameColor;
  }

  #Length:hover,
  #Length-active {
    background: #edfdf9;
    box-shadow: $quantityBoxSadow;
    border: 1px solid $lengthColor;
    #quantity-image {
      @extend length-image-size;
      background: transparent url("../assets/length-hover-icon.svg") 0% 0% no-repeat
        padding-box;
    }
    #quantity-name {
      font-weight: bold;
      color: $lengthColor;
    }
  }

  #Temperature:hover,
  #Temperature-active {
    background: #ffeef0;
    box-shadow: $quantityBoxSadow;
    border: 1px solid $temperatureColor;
    #quantity-image {
      @extend temperature-image-size;
      background: transparent url("../assets/temperature-hover-icon.svg");
    }
    #quantity-name {
      font-weight: bold;
      color: $temperatureColor;
    }
  }

  #Volume:hover,
  #Volume-active {
    background: #e8ddff;
    box-shadow: $quantityBoxSadow;
    border: 1px solid $volumeColor;
    #quantity-image {
      @extend volume-image-size;
      background: transparent url("../assets/volume-hover-icon.svg") 0% 0% no-repeat
        padding-box;
    }
    #quantity-name {
      font-weight: bold;
      color: $volumeColor;
    }
  }
}

#converter {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

#from,
#to {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 45%;
}

#from input,
#to input {
  font-size: 30px;
  border-radius: 3px;
  border: 1px solid $quantiyNameColor;
  outline: none;
}

#from select,
#to select {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid $quantiyNameColor;
  outline: none;
}

#converter-table-name {
  text-align: left;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.62;
  padding-left: 5px;
}

@media only screen and (max-width: 700px) {
  .home {
    width: 100%;

    #Length,
    #Temperature,
    #Volume,
    #Length-active,
    #Temperature-active,
    #Volume-active {
      width: 30%;
      padding: 5px;
    }

    #quantity {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      height: 20%;
    }
  }
}

@media only screen and (max-height: 500px) {
  .home {
    #quantity {
      height: 30%;
    }
  }
}
